body *{
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}
nav{
    color:white;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
nav .a{
    color:aliceblue;
    text-align: end;

}
#texto-icon h2{
color: aliceblue;
text-align: center;
font-size: 2em ;
padding: 10px;

}
#texto-icon .card-body{
    background-color:black;
    color: aliceblue;
    text-align: center;
}
#texto-icon .card{
    background-color: aquamarine;
    position: center;
    background-position: center;


}
#texto-icon .icono{
    align-content: center;
    justify-content: center;
    position: center;
    text-align: center;
}
#destacado h2{
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    padding: 10px;
}
#destacado .card{
    background-color: aquamarine;   
    background-position: center;

}
#mi-contacto {
    padding: 30px;
}
#mi-contacto h2 {
    text-align: center;
    color: white;
}
#mi-contacto .cont{
    text-align: start;
    color:aliceblue;
    font-size: 1em;
}
.pie h3 {
background-color: aquamarine;
color:aliceblue;
font-family: normal;
padding: 30px;
position: flex;
}
.pie a {
    background-color: aquamarine;
    background-position:right;
    display: inline-block;
    text-align: right;
    color:black;

}