body *{
    margin:0;
    padding: 0;
    border: 0;
}
nav{
    
    color:white;
    background-color: #0dcaf0;
}
setion {
    background-image: url(../img/carousel1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}
